@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>User Management , is a simple app to manage <a  asp-area="" asp-controller="Users" asp-action="Index">Users</a></p>

</div>
